.main{
    display: relative;
}


.mainbody {
    background-color: white;
    border-radius: 6px;
    margin:0px 2px 0px 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 0rem 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row; /* Stack elements vertically */
    align-items: center; /* Align items to the start of the column */
    flex:1;
    width: 100%;
}

.mainbody > p {
    font-size: 14px;
    margin: 0;
    padding: 1rem .4rem;
}

.buttonbody{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex:1;
 
}

.button {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
  }
  

  .dropdown{
    height: 17rem;
    flex: 1;
    border-radius: 6px;
    background-color: #f1f1f1;
    position: absolute;
    margin: 0 -20rem;
    top: 17.9rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 22;
    width: 16rem;

}

.dropsection{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.buttondrop{
    border: none;
    margin: 0rem 3rem;
    font-size: 30px; 
}


.dropsection>p{
    width: 3rem;
    margin: 0;
    padding: 0;
}

.mainbody>hr{
    width: 100%;
    rotate: 90deg;
    border: solid 1px;
    
}

.dropdown>hr{
        width: 90%;
        padding: 0;
        margin: 0;

}

.dropsection:hover{
    cursor: pointer;
}