body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

:root {
  --primary-color: #092068;
  --secondary-color: #70c0f2;
}

.card-container {
  margin-bottom: 100px;
  margin-left: 8px;
  margin-right: 8px;
  border: none;
  gap: 4px;
  border-color: #ccc;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.card-image {
  width: 300px;
  height: 200px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  width: 280px;
  padding: 10px;
  gap: 5px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-description {
  font-size: 0.875rem;
  font-weight: 300;
  color: #888;
}

/* Contact button styles */
.contact-button {
  display: inline-block;
  background-color: #007bff; /* Change this to your desired button color */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #0056b3; /* Change this to the hover color you prefer */
}

.rating {
  display: flex;
  align-items: center;
  color: #ffd900; /* Star color (gold) */
  font-size: 1.2rem; /* Adjust the font size as needed */
  font-weight: bold; /* Make the rating number bold */
}

.rating span {
  margin-left: 5px; /* Adjust spacing between rating number and stars */
}
.destinations {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.destinations-card {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* Footer.css */
ul {
  margin: 0;
  padding: 0;
}
.footer-section {
  background: var(--primary-color);
}

.footer-cta {
  border-bottom: 1px solid #cccccc96;
  display: flex;
  flex-direction: column;
}

.single-cta .icon {
  color: var(--secondary-color);
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #cccccc;
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #cccccc;
  line-height: 28px;
}
.footer-social-icon {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 25px;
}
.footer-socail-icon-logo {
  transition: all 0.3s;
}
.footer-socail-icon-logo:hover {
  transform: scale(1.2);
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: var(--secondary-color);
}
.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 12px;
  text-align: center;
}

.footer-widget ul li a:hover {
  color: var(--secondary-color);
}

.footer-widget ul li a {
  color: #cccccc;
  text-transform: capitalize;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: var(--primary-color);
  border: 1px solid #2e2e2e;
  color: #fff;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: var(--secondary-color);
  padding: 13px 20px;
  border: 1px solid var(--secondary-color);
  top: 0;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: #071a50;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: var(--secondary-color);
}

.footer-menu li a {
  font-size: 14px;
  color: #cccccc;
}

/* navbar */

.navbar {
  background-color: var(--primary-color);
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  padding-bottom: 50px;
  gap: 30px;
}

.navbar .left a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
  padding-left: 35px;
  font-weight: 500;
}
.tab-header {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.tab {
  padding: 5px 25px;
  cursor: pointer;
  transition-duration: 0.3s;
  border-radius: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(239, 206, 206, 0);
}

.tab.active {
  background-color: #ffffff09;
  border: 2px solid rgb(255, 255, 255);

  color: white;
}
.tab:hover {
  background-color: #ffffff09;
}

.tab-content {
  margin-top: 10px;
}
